<html lang="en">

<head>

</head>

<body>
    <%- include("./partials/nav.ejs") %>
        <div>
            <h1>Edit Profile</h1>
        </div>
        <div>
            <form action="/user/editProfile" method="post">
                New Password: <input type="password" name="pw" required placeholder="Password">
                <input type="submit" name="submit">
            </form>
        </div>
</body>

</html>