<html lang="en">

<head>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="/js/ajax-UN.js"></script>
    <script>
        function validate() {
            if (document.getElementById('result').innerHTML.includes('taken'))
                return false;
            else
                return true;
        }
    </script>

</head>

<body>
    <%- include("./partials/nav.ejs") %>
        <div>
            <h1>Sign Up</h1>
        </div>
        <div>
            <form method="post" enctype="multipart/form-data" onsubmit="return validate()" action="/user/signup">
                <div>
                    <input type="text" name="un" id="un" placeholder="Username">
                    <span id="result"></span>
                </div>
                <div>
                    <input type="password" name="pw" placeholder="Password">
                </div>
                <div>
                    Profile Picture: <input type="file" name="img">
                </div>
                <input type="hidden" name="type" value="client">
                <input type="submit" name="submit">
            </form>
        </div>


</body>

</html>